* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.5;
}
