/* mixins.css */
.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
